#overlay {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#loginDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -50px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 7pt;
    padding: 5px;
    width: 100px;
    height: 50px;
}