/*
* HTML5 Boilerplate
*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
html {
	background: #5bb0ff;
	height: 100%;
}

.main {
	margin: 0;
	padding: 0;
}

section, nav, aside, header, footer {
	background:#ffffff;
	margin: 4px;
	padding: 5px;
	border-radius: 7pt;    
}

header, footer {
	min-height: 100px;
}

.icon {
    width:16px;
    height:16px;    
}

.del {
	background-image: url('../img/sprite.svg#del'); 
}

.button .add {
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M 1,8 L 15,8 M 8,1 L 8,15" style="stroke:black;stroke-width:2;stroke-linecap:round;"/></svg>');
}

.button .save {
	background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><path d="m 1,1 2,0 0,5 8,0 0,-5 2,0 2,2 0,12 -14,0 z" style="fill:black"/><rect width="10" height="6" ry="0" x="3" y="8" style="fill:white;shape-rendering: crispEdges"/><path d="M 4,9 L 12,9 M 4,11 L 12,11 M 4,13 L 12,13" style="stroke:black;stroke-width:1px;stroke-linecap:round"/><rect width="3" height="3" x="7" y="2" style="fill:black;stroke:none;shape-rendering: crispEdges"/></svg>');
}

.menubutton {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.menulabel{
	display:none;
}

.ui-button .ui-button-text {
	height:20px;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
	*zoom: 1;
}

/* Own helper classes */

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (max-width: 480px) { 
	* {
	   box-sizing:border-box;
	}
	
	html, 
	body {
		overflow-x: hidden;
	}

	body { padding-top: 50px; } 

	
	header {
		display:none;
	}

	.menulabel {
		content:"\2261";
		display: block;
		position: absolute;
		top: 7px;
		left: 7px;
		width:50px;
		height:35px;
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		cursor: pointer;
		border: 0 none;
		border-bottom: 1px solid rgba(255,255,255,.1);
		box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
		border-radius: 5px;
		z-index: 999;
		/*text-indent: -9999px;*/
	}

	.menulabel:hover {
		background-color: rgba(0,0,0,.1); 
	}

	nav {
		width: 100%;
		float: none;
		background-color: #238be3; /* change the menu color */
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		display: block;
		height: 50px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 1px 2px rgba(0,0,0,.6);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 998;
		clear: both;
		border-radius: 0;
	}
	
	nav li {
		display: none;
		width: 100%;
		font-family: Arial;
		z-index:998;
	}
	
	nav li a {
		display: block;
		width: 90%;
		padding: 10px 5%;
		font-size: 14px;
		font-weight: bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: white;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.2);
		border-top: 1px solid rgba(255,255,255,.1); 
	}
	nav li a:hover {
		background-color: rgba(0,0,0,.5);
		border-top-color: transparent;
	}
	nav > li:first-child {
		border-top: 1px solid rgba(0,0,0,.2);
	}

	/* Toggle the navigation bar open  */
	 
	.menubutton:checked ~ nav { 
		height: auto; 
		padding-top: 50px;
	}
	.menubutton:checked ~ nav li { 
		display: block; 
	}

	/* Submenus – optional .parent class indicates dropdowns */

	#nav > li:hover > a {
		background: rgba(0,0,0,.5);
		border-bottom-color: transparent;
	}
	#nav li.parent > a:after {
		content: "▼";
		color: rgba(255,255,255,.5);
		float: right;
	}
	#nav li.parent > a:hover {
		background: rgba(0,0,0,.75);
	}
	#nav li ul {
		display: none;
		background: rgba(0,0,0,.5);
		border-top: 0 none;
		padding: 0;
	}
	#nav li ul a {
		border: 0 none;
		font-size: 12px;
		padding: 10px 5%;
		font-weight: normal;
	}
	#nav li:hover ul {
		display: block;
		border-top: 0 none;
	}

	.ui-button .ui-button-text {
		content: none;
		visibility: hidden;
		width:0;
		 height:20px;
		padleft:17px;
	}
} /* Narrow */

@media only screen and (min-width: 481px) and (max-width: 960px) {
	nav {
		display: -webkit-flex;
		display:flex;
		-webkit-flex-direction: row;
		flex-direction: row;
	}

	section {
		display: -webkit-flex;
		display:flex;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
} /* Medium */

@media only screen and (min-width: 961px) { 

	#main {
		display: -webkit-flex;
		display:flex;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	nav {
		width:10%;
		flex-order:1;
		flex:1 6 20%;
	}
	
	section {
		flex-order:2;
		flex: 3 1 60%;
	}
	
	aside {
		width:20%;
		flex-order:3;
		flex:1 6 20%;
	}
	
} /* Wide */ 


/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
* Don't show links for images, or javascript/internal links
*/

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}