.h {
    height: 10px;
    width: 30px;
    background-image: url(../img/sprite.svg#htl);
}

.v {
    height: 15px;
    width: 3px;
    background-image: url('../img/sprite.svg#vtl');
 }

.employee {
    height: 30px;
    width: 15px;
}

.start {
    background: url('../img/sprite.svg#employee-start')
}

.stop {
    background: url('../img/sprite.svg#employee-stop')
}

.fixed {
    border-color: green;
}
.correct {
    background-color: green;
}

.dnd-state-active {
    background-image: url(../img/sprite.svg#1);
    height: 15px;
}

.dnd-state-hover {
    border-color: green;
}