.timetable {
    font-size: 10px;
}

.grantHeader {
    vertical-align: bottom;
}

.grantHeaderTime {
    width: 40px;
    text-align: left;
    border-left-width: 1px;
    border-left-color: black;
}

.grantHeaderTime:last {
    border-right: 1px;
}